<!-- footer begin -->
<section id="footer">
    <div class="footer">
        <div class="container clearfix" >
            <div class="footer-list">
                <div class="footer-title">智能产业共性技术</div>
                <ul>
                    <li><a href="~/AI/CarDetection" title="" target="_blank">视觉大数据边缘计算</a></li>
                    <li><a href="~/AI/ImageSegmentation" title="" target="_blank">视觉大数据解析技术</a></li>
                    <li><a href="~/AI/AttributePrediction" title="" target="_blank">跨媒体智能图谱学习</a></li>
                    <li><a href="~/AI/FaceDetection" title="" target="_blank">跨媒体数据检索识别</a></li>
                </ul>
            </div>
            <div class="footer-list">
                <div class="footer-title">云计算微服务</div>
                <ul>
                    <li><a href="~/apps/CreateAPI" title="" target="_blank">生成APIKey</a></li>
                    <li><a href="~/apps/index" title="" target="_blank">应用管理</a></li>
                    <li><a href="~/algorithms/index" title="" target="_blank">查找算法</a></li>
                    <li><a href="~/algorithms/create" title="" target="_blank">上传算法</a></li>
                </ul>
            </div>
            <div class="footer-list">
                <div class="footer-title">帮助文档</div>
                <ul>
                    <li><a href="~/doc/index" title="" target="_blank">帮助文档</a></li>
                    <li><a href="~/doc/api" title="" target="_blank">接入指南</a></li>
                    <li><a href="~/doc/SDK" title="" target="_blank">SDK下载</a></li>
                </ul>
            </div>
            <div class="footer-list">
                <div class="footer-title">关于我们</div>
                <ul>
                    <li><a href="~/home/about" title="" target="_blank">关于我们</a></li>
                    <li><a href="~/home/about" title="" target="_blank">联系我们</a></li>
                </ul>
            </div>

            <div class="footer-list-right">
                <div class="footer-code"><img src="~/images/qrcode.jpg" alt=""></div>
                <div class="footer-ewm">联系我们</div>
                <div class="footer_img">
                    <ul>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-info">
            <div class="container">
                <div class="footer-copy">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- footer end -->