<div class="wrapper cf">
    <nav id="main-nav">
        <ul>
            <li>
                <a>视觉大数据边缘计算</a>
                <ul>
                    <li>
                        <a href="#">车辆识别</a>
                        <ul>
                            <li><a href="~/AI/CarDetection">功能演示</a></li>
                            <li><a href="~/doc/CarDetection">API 文档</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">视觉大数据解析技术</a>
                <ul>
                    <li>
                        <a href="#">图像增强</a>
                        <ul>
                            <li><a href="~/AI/ImageEnhance">功能演示</a></li>
                            <li><a href="~/doc/ImageEnhance">API 文档</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">图片语义分割</a>
                        <ul>
                            <li><a href="~/AI/ImageSegmentation">功能演示</a></li>
                            <li><a href="~/Doc/SDK">SDK下载</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">跨媒体智能图谱和学习技术</a>
                <ul>
                    <li>
                        <a href="#">多属性实体分类</a>
                        <ul>
                            <li><a href="~/AI/AttributePrediction">功能演示</a></li>
                            <li><a href="~/doc/AttributePrediction">API 文档</a></li>
                            <li><a href="~/Doc/SDK">SDK下载</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">跨媒体数据检索与识别</a>
                <ul>
                    <li>
                        <a href="#">人脸追踪</a>
                        <ul>
                            <li><a href="~/AI/FaceDetection">功能演示</a></li>

                            <li><a href="~/doc/FaceDetection">API 文档</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">行人检测</a>
                        <ul>
                            <li><a href="~/AI/PedestrianDetection">功能演示</a></li>

                            <li><a href="~/doc/PedestrianDetection">API 文档</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>