
@{
    ViewData["Title"] = "Document";
    Layout = "/Views/Shared/_Layout.cshtml";
}
    <div style="min-height:600px;padding-left:10%;padding-right:10%">
        <h1>
            帮助文档
        </h1>
        <br />
        <br />
        <h4>
            (鼠标移至最左侧打开目录)
        </h4>
        <br />
        <br />
        <ul class="list-group">
            <li class="list-group-item"><a href="~/doc/API">API 文档</a></li>
            <li class="list-group-item"><a href="~/doc/SDK">算法SDK Demo</a></li>
        </ul>

        <br />
        <br />
        <br />
        <br />
        <h1>
            智能产业共性技术及产品研发平台
        </h1>
        <br />
        <br />
        <p>
            本平台是根据跨媒体智能计算核心算法展示平台实施方案，搭建的集跨媒体共性技术展示网站、微服务API云平台、人工智能算法自动部署方案为一体的共性技术及产品研发平台。主要用于展示人工智能算法，提供统一的算法封装模式和接口、页面展示算法的效果图、可上传算法和数据集的PaaS服务。本产品作为共性关键技术平台，可提供常用的核心算法与测试数据给用户进行调用，也可以提供一个算法自动部署方案，使用户的算法也可以被提交上来分享。
        </p>
    </div>