
@{
    ViewData["Title"] = "SDK";
    Layout = "/Views/Shared/_Layout.cshtml";
}
    <div style="min-height:600px;padding-left:10%;padding-right:10%">
        <h1>
            SDK下载
        </h1>
        <br />
        <br />
        <h4>
            (鼠标移至最左侧打开目录)
        </h4>
        <br />
        <br />
        <h2>
            动物属性预测
        </h2>
        <br />
        下载链接：<a href="/SDK/动物属性预测.rar">动物属性预测.rar</a>
        <br />
        <br />
        <h2>
            医学语义分割
        </h2>
        <br />
        下载链接：<a href="/SDK/医学语义分割.rar">医学语义分割.rar</a>
    </div>