@{
    Layout = "_OverLayout.cshtml";
}
@section Styles{
    @RenderSection("Styles", required: false)
}
<partial name="../Partial/_SideBar" />
<section style="padding-top:100px; background-color:white; color:#000;min-height:1000px">
    <div style="text-align:left;margin-left:100px;margin-right:100px;">
        @RenderBody()
    </div>
</section>
@section Scripts{
    <script type="text/javascript" src="~/js/hc-mobile-nav.js"></script>
    <script src='//recaptcha.net/recaptcha/api.js'></script>
    <script>
        (function ($) {
            var $nav = $('#main-nav');
            var $toggle = $('.toggle');
            var defaultData = {
                maxWidth: false,
                customToggle: $toggle,
                navTitle: '目录',
                levelTitles: true,
                offCanvas:true,
			    levelOpen:'overlap',
			    disableBody:false,
			    closeOnClick:false
            };
            // we'll store our temp stuff here
            var $clone = null;
            var data = {};
            // calling like this only for slideside purposes
            const initNav = function (conf) {
                if ($clone) {
                    // clear previous instance
                    $clone.remove();
                }
                // remove old toggle click event
                $toggle.off('click');
                // make new copy
                $clone = $nav.clone();
                // remember data
                $.extend(data, conf)
                // call the plugin
                $clone.hcMobileNav($.extend({}, defaultData, data));
            }
            // run first slideside
            initNav({});
        })(jQuery);
    </script>
    @RenderSection("Scripts", required: false)
}
