
@{
    Layout = "~/Views/Shared/_AILayout.cshtml";
}
<!-- banner begin -->
<section id="banner">
    <div id="banner_tabs" class="flexslider">
        <a title="" href="#">
            <img width="1920" height="482" alt="" style="background: url(../images/banner/pedestrian.jpg) no-repeat center; background-size:cover;" src="~/images/alpha.png">
        </a>
    </div>
</section>
<!-- banner end -->
<section style="padding-top:5%;padding-bottom:5%">
    <h2>行人检测</h2>
    <h3>HOG+SVM</h3>
    <br />
    <br />
    <p style="padding-left:20%;padding-right:20%"></p>
</section>
<section style="padding-top:100px; background-color:white; color:#000;min-height:1000px">
    <br />
    <h2>功能演示</h2>
    <br />
    <br />
    <div class="aicontainer">
        <iframe src="~/html/AI/PedestrianDetection.html" scrolling="no" class="aiframe"></iframe>
    </div>
</section>